html
{
  min-width: 100%;
  min-height: 100%;
}
body
{
  background-image: linear-gradient(skyblue, blue);
  background-size: cover;
  background-repeat: no-repeat;
 
}
.flex-container
{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input
{
    box-shadow: 3px 3px 5px black;
}

.button
{
    padding: 5px 10px;
    box-shadow: 3px 3px 5px black;
}
.button:hover
{
    background-color: grey;
}